<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc5.ventasyesi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".menuprincipal"
            android:label="@string/title_activity_menuprincipal"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".practi1.Registrar_usuario"
            android:label="Registar" />
        <activity
            android:name=".practi1.Lista_p"
            android:label="lista Productos" />
        <activity
            android:name=".practi1.MiListas"
            android:label="listas" />
        <activity
            android:name=".practi1.Buscar_producto"
            android:label="buscar" />
        <activity
            android:name=".practi1.Consultar_producto"
            android:label="Consultar Producto" />
        <activity
            android:name=".practi1.Escanear"
            android:label="escanear" />
        <activity
            android:name=".practi1.Registrar_lis"
            android:label="registrar"
            android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>